
/* Header.css */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .header .logo h1 {
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    font-size: 1.2rem;
  }
  